:root {
    --color-bg-header: #0067A3;

    --color-text-primary: #000000;
    --color-text-secondary: #FFFFFF;
    --color-text-add-button: #5E6C84;

    --color-bg-submit-button: #0079BF;

    --color-bg-main: #0079BF;

    --color-bg-card: #EBECF0;
    --color-bg-card-task: #FFFFFF;

    --color-bg-footer: #0067A3;
}