.card {
    width: 282px;
    max-height: 85vh;
    background-color: var(--color-bg-card);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 12px 12px 7px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
}

.card__title {
    font-size: 18px;
}

.card__data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0 17px 0;
}

.card__task {
    background-color: var(--color-bg-card-task);
    border-radius: 5px;
    padding: 7px 9px;
    font-size: 18px;
}

.card__button {
    background-color: transparent;
    font-size: 18px;
    color: var(--color-text-add-button);
    align-self: start;
    border-radius: 5px;
    padding: 5px 6px;
}

.card__button_add {
    transition: background-color 0.2s;
}

.card__button_add:hover {
    background-color: var(--color-bg-add-button-hover);
}

.card__button::before {
    content: url(../../../public/images/add-icon.svg);
    margin-right: 4px;
}

.card__button[disabled] {
    color: var(--color-text-button-disabled);
}

.card__button[disabled]::before {
    opacity: 50%;
}

.card__button[disabled]:hover {
    background-color: transparent;
    cursor: default;
}

.card__button_submit {
    background-color: var(--color-bg-submit-button);
    color: var(--color-text-secondary);
    border-radius: 5px;
    padding: 4px 23px;
    transition: background-color 0.2s;
}

.card__button_submit:hover {
    background-color: var(--color-bg-submit-button-hover);
}

.card__button_submit::before {
    display: none;
}

.card__option {
    width: 258px;
}

.card__task_input {
    border: 1px solid var(--color-border);
    outline: none;
    font-family: inherit;
    font-size: 18px;
    background-color: var(--color-bg-card-task);
    color: var(--color-text-primary);
}

.card__task_input:focus {
    border-color: var(--color-primary);
}



.dropdown {
    background-color: var(--color-bg-dropDown);
    padding: 8px 9px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 18px;
}

.dropdown::after {
    content: url(../../../public/images/dropdown-arrow.svg);
    position: absolute;
    right: 11px;
    top: 9px;
    transition: 0.2s;
    pointer-events: none;
}

.dropdown_opened::after {
    transform: rotate(180deg);
}

.dropdown__list {
    position: fixed;
    background-color: inherit;
    width: 258px;
    /* left: 100px; */
    margin-left: -9px;
    margin-top: 13px;
    border-radius: inherit;
    z-index: 10;
}

.dropdown__option{
    padding: 8px 9px;
    text-align: left;
}
.dropdown__option:first-child {
    border-radius: 5px 5px 0 0;
}
.dropdown__option:last-child {
    border-radius: 0 0 5px 5px;
}

.dropdown__option:hover {
    background-color: var(--color-bg-dropDown-hover);
}