.main {
    flex: 1 0 auto;
    display: flex;
    padding: 20px 0;
    background-color: var(--color-bg-main);
}

.main__container {
    flex: 1;
    display: flex;
    align-items: start;
    gap: 24px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}